.Flex {
  display: flex;
  width: 90%;
  margin: 1.5rem auto;
  justify-content: space-evenly;
  color: var(--white);
  text-align: left;
  align-items: center;
}

.Main {
  width: 60%;
  overflow: hidden;
}

.Main h1 {
  color: var(--hot-pink);
  margin-bottom: 1rem;
}

.Main p {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 1rem;
}

.Main > h2 > span {
  color: #fff;
}

.Main button {
  border: none;
  border-radius: 5px;
  padding: 0.6rem 2.5rem;
  cursor: pointer;
  margin: 1rem auto;
  outline: none;
  font-size: 16px;
  transition: all ease 0.3s;
}

.Liked {
  background-color: var(--hot-pink);
  color: #fff;
}

.NotLiked {
  background-color: #00bda4;
  color: #fff;
}

.Main button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .Flex {
    flex-direction: column;
  }
}
