.Card {
  transition: transform ease-out 0.6s;
}

.Card img {
  height: 270px;
  border-radius: 5px;
}

.Card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.title {
  cursor: pointer;
  color: white;
  margin: 0.5rem;
}

@media (max-width: 650px) {
  .Card img {
    height: 180px;
  }
}
