.Card {
  transition: transform ease-in 0.2s;
}

.Card img {
  max-height: 270px;
  max-width: 300px;

  border-radius: 5px;
}

.Card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  cursor: pointer;
  color: white;
  margin: 0.5rem;
  width: 250px;
}

@media (max-width: 650px) {
  .Card img {
    max-height: 180px;
    max-width: 200px;
  }

  .title {
    font-size: 12px;
    width: 150px;
  }
}
