.Card {
  transition: transform ease-out 0.6s;
}

.Card img {
  max-height: 270px;
  max-width: 300px;

  border-radius: 5px;
}

.Card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.title {
  cursor: pointer;
  color: white;
  margin: 0.5rem;
}

@media (max-width: 650px) {
  .Card img {
    max-height: 180px;
    max-width: 200px;
  }
}
