.Container {
  display: grid;
  margin: 4rem auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem;
}

@media (max-width: 650px) {
  .Container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
