.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 50px;
  margin-right: 1rem;
}

.Search input {
  padding: 10px;
  font-size: 14px;
  border: none;
  color: var(--white);
  background-color: var(--dark-purple);
  border-radius: 50px;
  width: 250px;
}

.Search input:focus {
  outline: none;
}

.Search i {
  padding-left: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: var(--dark-purple);
  color: #333348;
}

@media (max-width: 540px) {
  .Search input {
    width: 200px;
    font-size: 12px;
  }
}
