.Sidebar {
  background-color: #1b1b2f;
  width: 270px;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.Sidebar nav {
  max-width: 130px;
  margin: 0 auto;
  text-align: left;
}

.Sidebar h1 {
  color: var(--hot-pink);
}

.Sidebar span {
  color: var(--white);
}

@media screen and (max-width: 800px) {
  .Sidebar {
    left: -100vw;
  }
}
