.Menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .Menu {
    display: block;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1px;
    border: 1px solid rgba(255, 254, 254, 0.392);
  }

  .Menu div {
    height: 2px;
    width: 20px;
    margin: 5px;
    background-color: white;
  }
}
